*.pcap
*.a
*.ext
*.so
*.swp
*.swo
*~
/cmd/qiloop/qiloop
/qiloop
/coverage.out
/package-lock.json
/main
/debug.test
/coverage.txt
/bin/
/choregraphe/
/pkg/
/src/github.com/
/src/golang.org/
/src/honnef.co/
/test/
/meta/stage1/metaobject.go
/examples/naov5/naov5_stub_gen.go
/examples/naov6/naov6_stub_gen.go
