*.bin
*.pcap
*.a
*.ext
*.so
*.swp
*~
/bin/
/choregraphe/
/pkg/
/src/github.com/
/src/golang.org/
/src/honnef.co/
/test/
/src/qiloop/meta/object/object.go
/src/qiloop/meta/object/server.go
/src/qiloop/services/
