*.bin
*.pcap
*.a
*.ext
*.so
*.swp
*~
/bin/
/choregraphe/
/pkg/
/src/github.com/
/src/golang.org/
/src/honnef.co/
/test/
/meta/stage1/metaobject.go
/meta/stage2/services.go
/meta/stage3/directory.go
/meta/stage4/services.go
